* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading{
    font-weight: bold;
    font-size: 56px;
}

header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:slategrey;
}

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 20%;
    margin: 0;
}

.forecast {
    width: 65%;
    margin-right: auto;
    margin-left: 5px;
}


.h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1.5rem;
}

#city {
    font-size: 2rem;
    width: 100%;
    height: 80%;
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 0;
    padding-left: 10px;

}

#search-btn {
    background-color: slategray;
    margin-bottom: 5px;
    margin-top: 15px;
    color: white;
}

.btn {
    font-size: 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
}